.marginLink {
  margin-top: 10rem !important;
}

.links {
  text-decoration: none !important;
  color: black;
}

.links:hover {
  text-decoration: none !important;
  color: black;
}

.iconOneDrive {
  width: 2rem;
  height: 2rem;
}
